@import "../css/common2.css";
@import "../fonts/iconfont.css";
$c1:#fff;
$c2:#32B7F0;
$c3:#333;
header {
    width: 375px;
    height: 184px;
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(#FFB700), to(#FF740F));
}